* {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body {
	overflow: hidden;
	font-family: calibri;
}


.header-container {
	box-shadow: 0px 10px 8px #ccc;
}
.header {
	background: #291A2C;
}
.header > p {
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding-top: 1em;
	text-align: center;
}
.header-date {
	background: #1E1321;
	color: white;
	text-align: center;
	padding-top: 1em;
	margin-top: 0;
}


.body-container {
	margin-top: 6em;
	width: 25em;
	height: 30em;
	border: 1px solid #ccc;
	box-shadow: 3px 10px 8px #ccc;
	padding: 1em;
	background: #f5f5f5;
}
#currencyList1 {
	margin-top: 6em;
}
#amount, #currencyList1, #currencyList2, #convertedRate {
	margin-bottom: 1em;
}


.footer-container {
	background: #291A2C;
	color: white;
	width: 100%;
	max-width: 100%;
	height: 3em;
	position: fixed;
	bottom: 0;
}
.footer-container p {
	text-align: center;
	margin-top: 1em;
}

@media only screen and (max-width: 600px) {
	.body-container {
		margin-top: 0em;
	}
}
